.app {
  background-color: #545c6b;
}
.app__title {
  text-align: center;
  color: #fafafa;
  font-size: 30px;
}
.app__body {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.app__search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.app__input {
  height: 30px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid lightgray;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}
